<!--md-icon md-svg-icon="{{$ctrl.selected.avatar}}" class="avatar"></md-icon>
<h2>{{$ctrl.selected.name}}</h2>
<p>{{$ctrl.selected.content}}</p-->

<md-button class="md-fab md-fab-bottom-right" ng-click="$ctrl.share($event)" aria-label="Share">
  <md-icon md-svg-icon="share" ></md-icon>
</md-button
<md-content layout-padding>
    <form name="projectForm">
      <div layout="row">
        <md-input-container flex="50">
          <label>First Name</label>
          <input required name="firstName" ng-model="$ctrl.selected.firstName">
          <div ng-messages="projectForm.firstName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex="50">
          <label>Last Name</label>
          <input required name="surname" ng-model="$ctrl.selected.surname">
          <div ng-messages="projectForm.surname.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Description</label>
        <input md-maxlength="30" required md-no-asterisk name="description" ng-model="$ctrl.selected.content">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
        </div>
      </md-input-container>

      <div layout="row">
        <md-input-container flex="50">
          <label>Client Name</label>
          <input required name="clientName" ng-model="$ctrl.selected.clientName">
          <div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex="50">
          <label>Project Type</label>
          <md-select name="type" ng-model="$ctrl.selected.type" required>
            <md-option value="app">Application</md-option>
            <md-option value="web">Website</md-option>
          </md-select>
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Client Email</label>
        <input required type="email" name="clientEmail" ng-model="$ctrl.selected.clientEmail"
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

        <div ng-messages="projectForm.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>

      <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Company</label>
            <input ng-model="$ctrl.selected.company">
          </md-input-container>

          <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="$ctrl.selected.submissionDate"></md-datepicker>
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="$ctrl.selected.address">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
          <input ng-model="$ctrl.selected.address2" placeholder="Address 2">
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Suburb</label>
            <input ng-model="$ctrl.selected.surburb">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="$ctrl.selected.state">
                <md-option ng-repeat="state in $ctrl.states" value="{{state.state}}">
                  {{state.state}}
                </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Postal Code</label>
            <input name="postalCode" ng-model="$ctrl.selected.postalCode" placeholder="1234"
                   required ng-pattern="/^[0-9]{4}$/" md-maxlength="4">

            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply a postal code.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                code.
              </div>
              <div ng-message="md-maxlength" class="my-message">
                Don't use the long version silly...we don't need to be that specific...
              </div>
            </div>
          </md-input-container>
        </div>
      <div>
        <md-button type="submit">Submit</md-button>
      </div>
    </form>
</md-content>
